body.home {
  background-image: url(../public/fundo.png);
}/* O background do arquivo home é diferente dos outros arquivos */

div {
  width: 900px;
} 

body {
  background-image: url(../public/fundo2.png);
  margin-left: 20%;  
}

span.link {
  float: right; margin-top: 55px;
}

.logo {
  margin-top: 15px;
}

.capa {
  margin-top: 20px;
}

.rodape {
  margin-top: 50px; text-align: center;
}